In [1]:
print("asdf")

asdf

In [2]:
print(asdf)

NameError: name 'asdf' is not defined

In [3]:
print(-87)

-87

In [4]:
print(+33)

33

In [5]:
print(5/3)

1.6666666666666667

In [6]:
print(7/4)

1.75

In [7]:
print("print()")

print()

In [8]:
print(5^2)

7

In [9]:
print(5*5)

25

In [10]:
print(1)
print(2)

print(3)
print(4)

print(5)

1
2
3
4
5

print(2222)#fff print(233)

In [11]:
print(2222)#fff print(233)

2222

In [12]:
print(1,23,456,7890)

1 23 456 7890

In [13]:
#suizhu8xiaoshi

In [14]:
#suizhu8xiaoshi
print(1911+112) #今年是哪一年
print(7) #這個月是幾月
print(4) #今天是幾號
print("二") #今天是星期幾
print(2023-2004-1) #自己的年齡(可以謊報)

2023
7
4
二
18

In [15]:
print(15*3,"元")

45 元

In [18]:
print(45) ;print("元")

45
元

In [19]:
print(1000*(1+10/100))

1100.0

In [20]:
print(12+(6-34)*5-4*(3+24/8))

-152.0

In [21]:
x=100
print(x)

100

In [22]:
y=-5
print(y)

-5

In [23]:
print(x)

100

In [24]:
what=input()

柊千里

In [25]:
print(what,x)

柊千里 100

In [26]:
what=()

In [27]:
print what

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2341278160.py, line 1)

In [28]:
print(what)

()

In [29]:
what=(0)
print(what)

0

In [30]:
a=1
print(a)
a=2
print(a)

1
2

In [31]:
wait=what

In [32]:
print(wait,what)

0 0

In [33]:
b=x/y+a
print(b)

-18.0

In [34]:
soymilk=15
frieddumpling=35
print(frieddumpling*4+soymilk*3)

185

In [35]:
print(1000*(1+0.10+0.05))

1150.0000000000002

In [36]:
print(1000*(1+0.1+0.05))

1150.0000000000002

In [37]:
a++

SyntaxError: invalid syntax (1277751513.py, line 1)

In [38]:
a=a+1

In [39]:
applejuice=35
applemilk=50
applealot=55
bag=2
cup=-5
print(1000-applejuice*2-applemilk*3-applealot*1-bag*1-cup*5)

748

In [40]:
print(type(82))

<class 'int'>

In [41]:
print(type(38 2))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3810378805.py, line 1)

In [42]:
print(type(a,25,388.,"iii"))

TypeError: type() takes 1 or 3 arguments

In [43]:
print(type(a,25,388.))

TypeError: type.__new__() argument 1 must be str, not int

In [44]:
print(type(a))

<class 'int'>

In [45]:
a=float(a)
print(a)

3.0

In [46]:
print(0.0)

0.0

In [47]:
print(int(12345.6789))

12345

In [48]:
print(int(100/20))

5

In [49]:
age="age"

In [51]:
print(age)

age

In [52]:
print(type(age))

<class 'str'>

In [53]:
name="suizhu8xiaoshi"
print(name)
print(type(name))

suizhu8xiaoshi
<class 'str'>

In [54]:
text="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print(text[19])

T

In [55]:
print(text[26])

IndexError: string index out of range

In [56]:
zodiac="鼠牛虎兔龍蛇馬羊猴雞狗豬"
print(zodiac[7-1])

馬

In [57]:
print(text[-14])

M

In [58]:
print(text[6:11])

GHIJK

In [59]:
print(text[:12])
print(text[12:])

ABCDEFGHIJKL
MNOPQRSTUVWXYZ

In [61]:
print("Who are you?")
user=input()
print("Hello,",user+".")

Who are you?
Sangonomiya Kokomi
Hello, Sangonomiya Kokomi.

In [62]:
print(text+zodiac+user)

ABCDEFGHIJKLMNOPQRSTUVWXYZ鼠牛虎兔龍蛇馬羊猴雞狗豬Sangonomiya Kokomi

In [63]:
print(user[7:])

miya Kokomi

In [64]:
print("Name:")
user=input()
print("Birthday:")
birthday=input()
print("Affiliation:")
affiliation=input()
print("Role:")
role=input()

print(user+", born on",birthday+", is currently a",role,"of",affiliation+".")

Name:
Layla
Birthday:
12/19
Affiliation:
Rtawahist
Role:
student
Layla, born on 12/19, is currently a student of Rtawahist.

In [65]:
mashup="whaaaa"+777

TypeError: can only concatenate str (not "int") to str

In [66]:
age=""
print(age)
print(type(age))

<class 'str'>

In [67]:
print(3*user)

LaylaLaylaLayla

In [68]:
print(user*3.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [69]:
num1=input()
num2=input()
print(num1+num2)

11
14
1114

In [70]:
num1=input()
num2=input()
print(int(num1)+int(num2))

11
14
25

In [71]:
num1=input()
num2=input()
print(int(num1)*int(num2))

24
32
768

In [72]:
age=input("jj")

jj

In [81]:
birthyear=int(input("Birth year:"))
retire=str(birthyear+65)
print("You can retire at "+retire+".")

Birth year:1987
You can retire at 2052.

In [83]:
print(1==1)

True

In [84]:
print(input("Enter 1:")==1)

Enter 1:1
False

In [85]:
print(int(input("Enter 1:"))==1)

Enter 1:1
True

In [87]:
q1=input("What is your name? ")
q2=input("What is your pet? ")
q3=input("What is the name of your pet? ")
q4=input("What is your birth year? ")
v1=str(int(q4)+65)
print("My name is "+q1+". My pet is a "+q2+" and its name is "+q3+". My retirement year is "+v1+".")

What is your name? my name
What is your pet? pet
What is the name of your pet? its name
What is your birth year? -65
My name is my name. My pet is a pet and its name is its name. My retirement year is 0.

In [91]:
newlist=[12,19,"Sumeru","Rtawahist","Layla"]

In [96]:
print(type(2)==type(3))

True

In [99]:
print(type(20/5))

<class 'float'>

In [104]:
num1=int(input("輸入一正整數: "))
a=2
result="1"
while(a!=num1):
    num2=num1/a
    if(num2==int(num2)):
        result=result+","+str(a)
    
    a=a+1

print(str(num1)+"的因數有: "+result+","+str(num1))

輸入一正整數: 789
789的因數有: 1,3,263,789

In [105]:
print(newlist)

[12, 19, 'Sumeru', 'Rtawahist', 'Layla']

In [108]:
print(str(newlist))

[12, 19, 'Sumeru', 'Rtawahist', 'Layla']

In [109]:
student=["Tighnari","Cyno","Kaveh","Faruzan","Layla","Hat Guy"]
classname="Sumeru Akademiya"
print("The name of the class is "+classname+". Here is the student list: "+str(student))

The name of the class is Sumeru Akademiya. Here is the student list: ['Tighnari', 'Cyno', 'Kaveh', 'Faruzan', 'Layla', 'Hat Guy']

In [110]:
list1=["a","b","c"]
list2=[1,2,3]
print(list1+list2)

['a', 'b', 'c', 1, 2, 3]

In [111]:
print((list1*2+list2*2)*2)

['a', 'b', 'c', 'a', 'b', 'c', 1, 2, 3, 1, 2, 3, 'a', 'b', 'c', 'a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [112]:
print(list1[1:3])

['b', 'c']

In [113]:
print(list1[0])
print(list1[1])
print(list1[2])

a
b
c

In [115]:
newdictionary={"Level1":14.72,"Level2":15.82,"Level3":16.93}
print(newdictionary)

{'Level1': 14.72, 'Level2': 15.82, 'Level3': 16.93}

In [116]:
print(newdictionary["Level3"])

16.93

In [119]:
laylainfo={"1":"Fantastical Evening Star","2":"Sumeru","3":"Rtawahist","4":"November 18, 2022","5":"Half-Awake, Half-Asleep, All Incredulous","6":"Extravagant Slumber","7":"December 19"}
answer="1"
while(answer!="8"):
    answer=input("Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- ")
    if(answer=="8"):
        break
    print(laylainfo[answer])

Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 7
December 19
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 1
Fantastical Evening Star
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 4
November 18, 2022
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 3
Rtawahist
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 2
Sumeru
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 5
Half-Awake, Half-Asleep, All Incredulous
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 6
Extravagant Slumber
Information about Layla: 1.Title 2.Region 3.Affiliation 4.Release Date 5.Additional Title 6.Special Dish 7.Birthday / 8.End -- 8