In [1]:
import pymysql

setting={
    "host":"localhost",
    "port":3306,
    "user":"root",
    "password":"Fx=Q2S2LC",
    "db":"school",
    "charset":"utf8"
}

db=pymysql.connect(**setting)


cursor=db.cursor()
cursor.execute("select * from student")
data=cursor.fetchall()
for stu in data:
    print(stu)

('01', '趙雷', datetime.datetime(1990, 1, 1, 0, 0), '男')
('02', '錢電', datetime.datetime(1990, 12, 21, 0, 0), '男')
('03', '孫風', datetime.datetime(1990, 5, 20, 0, 0), '男')
('04', '李雲', datetime.datetime(1990, 8, 6, 0, 0), '男')
('05', '周梅', datetime.datetime(1991, 12, 1, 0, 0), '女')
('06', '吳蘭', datetime.datetime(1992, 3, 1, 0, 0), '女')
('07', '鄭竹', datetime.datetime(1989, 7, 1, 0, 0), '女')
('08', '王菊', datetime.datetime(1990, 1, 20, 0, 0), '女')